---
/* src/pages/index.astro */
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LastPost from '../components/LastPost.astro';
import Cta from '../components/Cta.astro';
import settings from '../data/settings.json';

const nameProyecto = settings?.title || "Inicio";
const descGeneral = settings?.description || "";
const SEOTitle = `${nameProyecto} | ${descGeneral}`;
---

<Layout title={SEOTitle} description={descGeneral}>
  
  <Hero />

  <main class="page-container" style="max-width: 1200px; margin: 8rem auto 6rem; padding: 0 1.5rem; display: flex; flex-direction: column; gap: 6rem;">
    
    <LastPost />

    <Cta />

  </main>

</Layout>