---
/* src/components/Footer.astro */
---

<footer class="footer-container">
  <p>© 2026 yagahaus</p>
</footer>

<style>
  .footer-container {
    background-color: var(--color-accent); /* Fondo Verde */
    color: var(--color-bg); /* Texto Negro de la paleta para contraste total */
    text-align: center;
    padding: 15px 0;
    font-size: 0.8rem; /* Letra chiquita */
    font-weight: 600;
    width: 100%;
    margin-top: auto; /* Empuja el footer al fondo si la página es corta */
  }
  
  .footer-container p {
    margin: 0;
    letter-spacing: 1px;
  }
</style>